body {
    background-color: #eceee7
}

a{
    color:#2d2158;
    font-family: "Tahoma", Geneva, sans-serif;
}

p{
    color: #2c2c2c;
    font-family: "Tahoma", Geneva, sans-serif;
    padding:25px;
    line-height:1.5;
    margin:15px;   

}

ol{
    font-family: "Tahoma", Geneva, sans-serif;
    padding:70px;
}

table{
    font-family: "Tahoma", Geneva, sans-serif;
    padding:40px;
    border:1px dashed;    
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #2f314b;
    font-family: "Tahoma", Geneva, sans-serif;
    text-align:center;
}

nav{
    background-color: #2f314b;  
    padding: 10px;
    margin-bottom:30px;
    font-family: "Tahoma", Geneva, sans-serif;
}



nav a {color: #dfdfdf;}
nav a:hover{background-color: #94ad86;}

.imgL{margin-right: 100px;  float:left; padding:10px; max-width:100%;}
.imgR{margin-right: 100px;  float:right; padding:10px; max-width:100%;}
.recipeimg{margin-right: 100px;  padding:10px; max-width:100%;}

.container{
    display:flex; justify-content:center; flex-wrap: wrap; text-align:center;
}

.diaoyuimg, .paiguimg {max-width:100%}

.clear {clear:both;}

.row1{background-color: #fdffe3; border-radius: 1em; margin:30px;}




.row2{display:flex; background-color: #fdffe3; border-radius: 1em;  margin:30px; flex-wrap: wrap;}


@media only screen and (max-width:600px) {

    nav a{
        display:block;
        width:100%;
    }
    link{
        text-justify:center;
    }
    .imgL{margin-left: auto; margin-right:auto; float:left; padding:10px; max-width:100%;}
    .imgR{margin-left: auto; margin-right:auto; float:right; padding:10px; max-width:100%;}
    .recipeimg{margin-left: auto; margin-right:auto; padding:10px; max-width:100%;}
}